<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>List of users</title>

    </head>
    <body>
        <h2>Список пользователей</h2>
<hr>
         <th:block
                 th:each="user : ${list}">
             <b th:text="${user.id}"></b>
             <b th:text="${user.name}"></b>
             <b th:text="${user.username}"></b>
             <th:block
                     th:each="role : ${user.getRoles()}">
                 <b th:text="${role.id}"></b>
                 <b th:text="${role.name}"></b>
             </th:block>
             <a type="button" th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>
             <a type="button" th:href="@{/admin/delete(id=${user.getId()})}">Delete</a>


             <hr>

         </th:block>
        <hr>

        <div th:remove="${list.size() != 0} ? all">
            <p>В базе данных нет пользователей</p>
        </div>

        <form action="/admin/new" >
            <button>Добавить пользователя</button>
        </form>

        <a type="button" th:href="@{/logout}">Logout</a>
    </body>
</html>