<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">

    <input type="hidden" th:field="*{id}" th:value="*{getId()}">

        <div>
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}" th:value="*{getName()}" placeholder="Enter user name" required>
        </div>

        <div>
            <label for="username">Username</label>
            <input type="text" id="username" th:field="*{username}" th:value="*{getUsername()}" placeholder="Enter username" required>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" th:field="*{password}" th:value="*{getPassword()}" placeholder="Enter password" required>
        </div>
        <div>
            <label for="role">Role</label>
            <input type="text" id="role" th:field="*{role}" th:value="*{getRole()}" placeholder="Enter role" required>
        </div>

    <button type="submit" th:text="Create"/>

    <a href="/admin">Cancel</a>

</form>


<a type="button" th:href="@{/logout}">Logout</a>
</body>
</html>